@model SDNUOJ.Entity.UserMailEntity

@{
    ViewBag.__Title = "Mail";
    ViewBag.__Type = "mail";
}

<div class="dtable">
    <div class="dhead">
        <div class="row text-center">
            <h2>
                @Html.ActionLink(Model.FromUserName, "Info", "User", new { id = Model.FromUserName }, new { @target = "_blank" }):
                @Html.Raw(Model.Title)@*!TIP:Mail.Title添加时已Encode*@
            </h2>
        </div>
    </div>
    <div class="dbody">
        <div class="row">
            @using (Html.BeginForm("Delete", "Mail", FormMethod.Post, new { @id = "form-mail-delete" }))
            {
                @Html.AntiForgeryToken()
                <button type="button" onclick="javascript:history.go(-1);" class="btn btn-default">&lsaquo;&nbsp;Back</button>
                <input name="mailid" type="hidden" value="@Model.MailID" />
                <button type="submit" class="btn btn-danger">Delete</button>
            }
            <br />
            <pre>@Html.Raw(Model.Content)@*!TIP:Mail.Content添加时已Encode*@

Send Date: @Model.SendDate.ToString("yyyy-MM-dd HH:mm:ss")</pre>
        </div>
        <div class="row row-noborder">
        @using (Html.BeginForm("Send", "Mail", FormMethod.Post, new { @class = "form-horizontal", @data_verify = "true" }))
        {
            @Html.AntiForgeryToken()
            <div class="dtable dtable-striped">
                <div class="dhead">
                    <div class="row text-center">
                        <h3>Reply</h3>
                    </div>
                </div>
                <div class="dbody">
                    <div class="row">
                        <label for="title" class="col-sm-2 control-label"><span class="star">*</span> Title</label>
                        <div class="col-sm-8">
                            <input id="title" name="title" type="text" maxlength="100" class="form-control" value="Re: @Html.Raw(Model.Title)"@*!TIP:Mail.Title添加时已Encode*@ required="required" placeholder="Mail title" data-emptyinfo="Mail title can not be NULL!" />
                        </div>
                    </div>
                    <div class="row">
                        <label for="tousername" class="col-sm-2 control-label"><span class="star">*</span> To</label>
                        <div class="col-sm-8">
                            <input id="tousername" name="tousername" type="text" maxlength="20" class="form-control" value="@Model.FromUserName" required="required" readonly="readonly" data-emptyinfo="To User name can not be NULL!" data-regex="^\w+$" data-invalidinfo="Username is INVALID!" />
                        </div>
                    </div>
                    <div class="row">
                        <label for="content" class="col-sm-2 control-label"><span class="star">*</span> Content</label>
                        <div class="col-sm-8">
                            <textarea id="content" name="content" class="form-control" rows="10" required="required" placeholder="Your content" data-emptyinfo="Mail content can not be NULL!"></textarea>
                        </div>
                    </div>
                </div>
                <div class="dfoot">
                    <div class="row text-center">
                        <button type="submit" class="btn btn-primary" data-loading-text="Sending...">Send</button>
                        <button type="reset" class="btn btn-default">Reset</button>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
</div>