<!DOCTYPE html>
<html lang="zh-hans" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>@ViewBag.__Title</title>
    <link href="@this.StaticFile("/static/css/admin-general.min.css")" type="text/css" rel="stylesheet" />
</head>
<body>
    <div id="container">
        <table id="browser-warning" class="table-warning" style="display:none;">
            <tbody>
                <tr>
                    <td>您的浏览器版本小于Internet Explorer 8，部分功能将无法使用，请更新您的浏览器或使用其他浏览器！</td>
                </tr>
            </tbody>
        </table>

        @RenderBody()
        <br />

        <div id="page-bottominfo" style="text-align:right;" data-type="@ViewBag.__Type">
            <span>页面执行时间 @ViewBag.ExecutedTime 秒,</span>
            <span><a href="javascript:void(0);" onclick="location.reload();">刷新</a>本页面</span>
        </div>
    </div>

    <script src="/static/js/foundation/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="@this.StaticFile("/static/js/admin-general.min.js")" type="text/javascript"></script>
</body>
</html>
