@{
    Int32 pageCount = ViewBag.PageCount;
    Int32 pageIndex = ViewBag.PageIndex;

    RouteData routeData = ViewContext.RouteData.Route.GetRouteData(this.Context);
    String action = routeData.Values["action"] as String;
    String controller = routeData.Values["controller"] as String;
}

@functions {
    private RouteValueDictionary GetRouteValues(RouteData routeData, Int32 id)
    {
        RouteValueDictionary dict = new RouteValueDictionary(routeData.Values);
        dict["id"] = id;

        return dict;
    }
}

<nav>
    <ul class="pagination">
    @for (Int32 i = 1; i <= pageCount; i++)
    {
        <li class="@(pageIndex == i ? "active" : "")">
        @if (i == pageIndex)
        {
            <span>@i</span>
        }
        else
        {
            <a href="@Url.Action(action, controller, GetRouteValues(routeData, i))@Request.Url.Query"@Html.Raw(i == pageIndex - 1 ? " rel=\"prev\"" : (i == pageIndex + 1 ? " rel=\"next\"" : ""))>@i</a>
        }
        </li>
    }
    </ul>
</nav>