@model Tuple<SDNUOJ.Entity.Complex.ProblemStatistic, SDNUOJ.Utilities.PagedList<SDNUOJ.Entity.SolutionEntity>>

@{
    var ProblemStatistic = Model.Item1;
    var SolutionList = Model.Item2;

    ViewBag.__Title = "Problem Statistic" + (ProblemStatistic != null ? " - " + ProblemStatistic.ProblemID : "");
    ViewBag.__Type = "status";
}

<div class="dtable dtable-nofoot">
    <div class="dhead">
        <div class="row text-center">
            <h2>Problem Statistic - @ProblemStatistic.ProblemID</h2>
        </div>
    </div>
    <div class="dbody">
        <div class="row" style="border-bottom:0 !important;">
            <div class="col-md-3 col-extra-thin">
                <div class="dtable dtable-striped dtable-hover dtable-nofoot" style="margin-bottom:28px;">
                    <div class="dhead">
                        <div class="row">
                            Statistic
                        </div>
                    </div>
                    <div class="dbody">
                        <div class="row">
                            <div class="col-xs-8 col-extra-thin">&nbsp;Problem ID</div>
                            <div class="col-xs-4 text-center">@Html.ActionLink(ProblemStatistic.ProblemID.ToString(), "Show", "Problem", new { id = ProblemStatistic.ProblemID }, null)</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 col-extra-thin">&nbsp;Total Submission(s)</div>
                            <div class="col-xs-4 text-center">@Html.ActionLink(ProblemStatistic.SubmitCount.ToString(), "List", "Status", new { pid = ProblemStatistic.ProblemID }, null)</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 col-extra-thin">&nbsp;User Solved</div>
                            <div class="col-xs-4 text-center">@Html.ActionLink(ProblemStatistic.SolvedCount.ToString(), "List", "Status", new { pid = ProblemStatistic.ProblemID, type = (Byte)SDNUOJ.Entity.ResultType.Accepted }, null)</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 col-extra-thin">&nbsp;<span class="label status_Accepted">Accepted</span></div>
                            <div class="col-xs-4 text-center">@Html.ActionLink(ProblemStatistic.AcceptedCount.ToString(), "List", "Status", new { pid = ProblemStatistic.ProblemID, type = (Byte)SDNUOJ.Entity.ResultType.Accepted }, null)</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 col-extra-thin">&nbsp;<span class="label status_PresentationError">Presentation Error</span></div>
                            <div class="col-xs-4 text-center">@Html.ActionLink(ProblemStatistic.PresentationErrorCount.ToString(), "List", "Status", new { pid = ProblemStatistic.ProblemID, type = (Byte)SDNUOJ.Entity.ResultType.PresentationError }, null)</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 col-extra-thin">&nbsp;<span class="label status_WrongAnswer">Wrong Answer</span></div>
                            <div class="col-xs-4 text-center">@Html.ActionLink(ProblemStatistic.WrongAnswerCount.ToString(), "List", "Status", new { pid = ProblemStatistic.ProblemID, type = (Byte)SDNUOJ.Entity.ResultType.WrongAnswer }, null)</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 col-extra-thin">&nbsp;<span class="label status_OutputLimitExceeded">Output Limit Exceeded</span></div>
                            <div class="col-xs-4 text-center">@Html.ActionLink(ProblemStatistic.OutputLimitExceededCount.ToString(), "List", "Status", new { pid = ProblemStatistic.ProblemID, type = (Byte)SDNUOJ.Entity.ResultType.OutputLimitExceeded }, null)</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 col-extra-thin">&nbsp;<span class="label status_MemoryLimitExceeded">Memory Limit Exceeded</span></div>
                            <div class="col-xs-4 text-center">@Html.ActionLink(ProblemStatistic.MemoryLimitExceededCount.ToString(), "List", "Status", new { pid = ProblemStatistic.ProblemID, type = (Byte)SDNUOJ.Entity.ResultType.MemoryLimitExceeded }, null)</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 col-extra-thin">&nbsp;<span class="label status_TimeLimitExceeded">Time Limit Exceeded</span></div>
                            <div class="col-xs-4 text-center">@Html.ActionLink(ProblemStatistic.TimeLimitExceededCount.ToString(), "List", "Status", new { pid = ProblemStatistic.ProblemID, type = (Byte)SDNUOJ.Entity.ResultType.TimeLimitExceeded }, null)</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 col-extra-thin">&nbsp;<span class="label status_RuntimeError">Runtime Error</span></div>
                            <div class="col-xs-4 text-center">@Html.ActionLink(ProblemStatistic.RuntimeErrorCount.ToString(), "List", "Status", new { pid = ProblemStatistic.ProblemID, type = (Byte)SDNUOJ.Entity.ResultType.RuntimeError }, null)</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 col-extra-thin">&nbsp;<span class="label status_CompileError">Compile Error</span></div>
                            <div class="col-xs-4 text-center">@Html.ActionLink(ProblemStatistic.CompileErrorCount.ToString(), "List", "Status", new { pid = ProblemStatistic.ProblemID, type = (Byte)SDNUOJ.Entity.ResultType.CompileError }, null)</div>
                        </div>
                    </div>
                </div>
                <div class="dtable dtable-striped dtable-hover dtable-nofoot">
                    <div class="dhead">
                        <div class="row">
                            Language Filter
                        </div>
                    </div>
                    <div class="dbody">
                        <div class="row text-center">
                            <a href="@Url.Action("Statistic", "Problem", new { lang = "all", pid = ProblemStatistic.ProblemID, id = ViewBag.PageIndex, order = ViewBag.Order })"><span class="@(String.Equals(ViewBag.Language, "all") ? "statistic_link_Select" : "statistic_link")">All</span></a>
                        </div>
                        @foreach (var Lang in ViewBag.Languages)
                        {
                            <div class="row text-center">
                                <a href="@Url.Action("Statistic", "Problem", new { lang = Lang.Value.ToString(), id = 1, pid = ProblemStatistic.ProblemID, order = ViewBag.Order })"><span class="@(String.Equals(ViewBag.Language, Lang.Value.ToString()) ? "statistic_link_Select" : "statistic_link")">@Lang.Key</span></a>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-extra-thin">
                <div class="row-title visible-xs-block visible-sm-block" style="margin-top:20px;">
                    Accepted Solution
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-nofoot">
                        <thead>
                            <tr>
                                <th class="td-statisticrank text-center">Rank</th>
                                <th class="text-center">User Name</th>
                                <th class="td-statisticcosttime text-center"><a href="@Url.Action("Statistic", "Problem", new { order = "0", pid = ProblemStatistic.ProblemID, id = ViewBag.PageIndex, lang = ViewBag.Language })"><span class="@(String.Equals(ViewBag.Order, "0") ? "statistic_link_Select" : "statistic_link")">Time</span></a></th>
                                <th class="td-statisticcostmemory text-center"><a href="@Url.Action("Statistic", "Problem", new { order = "1", pid = ProblemStatistic.ProblemID, id = ViewBag.PageIndex, lang = ViewBag.Language })"><span class="@(String.Equals(ViewBag.Order, "1") ? "statistic_link_Select" : "statistic_link")">Memory</span></a></th>
                                <th class="td-statisticcodelen text-center"><a href="@Url.Action("Statistic", "Problem", new { order = "2", pid = ProblemStatistic.ProblemID, id = ViewBag.PageIndex, lang = ViewBag.Language })"><span class="@(String.Equals(ViewBag.Order, "2") ? "statistic_link_Select" : "statistic_link")">CodeLen</span></a></th>
                                <th class="td-statisticlang text-center">Language</th>
                                <th class="td-statistictime text-center"><a href="@Url.Action("Statistic", "Problem", new { order = "default", pid = ProblemStatistic.ProblemID, id = ViewBag.PageIndex, lang = ViewBag.Language })"><span class="@(String.Equals(ViewBag.Order, "default") ? "statistic_link_Select" : "statistic_link")">Submit Time</span></a></th>
                            </tr>
                        </thead>
                        <tbody>
                        @for (Int32 i = 0; i < SolutionList.Count; i++)
                        {
                            var Item = SolutionList[i];
                            <tr>
                                <td class="text-center">@(SolutionList.PageSize * (ViewBag.PageIndex - 1) + i + 1)</td>
                                <td class="text-center">@Html.ActionLink(Item.UserName, "Info", "User", new { id = Item.UserName }, null)</td>
                                <td class="text-center">@(Item.TimeCost)MS</td>
                                <td class="text-center">@(Item.MemoryCost)KB</td>
                                <td class="text-center">@(Item.CodeLength)B</td>
                                <td class="text-center"><span id="lang_default_@(Item.SolutionID)_@(Item.UserName)" class=" status-language">@Item.LanguageType</span></td>
                                <td class="text-center">@Item.SubmitTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                            </tr>
                        }
                        @if (SolutionList.Count == 0)
                        {
                            <tr>
                                <td colspan="9" class="text-center">No judged submission</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="dfoot">
        <div class="row text-center" style="border-top:0;">
            @RenderPage("~/Views/Shared/_SimplePager.cshtml")
        </div>
    </div>
</div>