@model SDNUOJ.Utilities.PagedList<SDNUOJ.Entity.SolutionEntity>

@{
    ViewBag.__Title = "提交评测管理";
}

@using (Html.BeginForm("List", "Solution", new { id = 1 }, FormMethod.Get))
{
    <table class="table-main">
        <thead>
            <tr>
                <th>提交评测管理说明</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="supplementary">
                    1. 您可以在本页搜索指定的提交，并可以将查询条件进行重测。<br />
                    2. 为了保存用户提交信息，所有用户提交不允许删除。
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <table class="table-main">
        <thead>
            <tr>
                <th colspan="2">
                    <a class="button-expand" data-collapse="true"></a>提交搜索 |
                    @Html.ActionLink("清除查找条件", "List", "Solution")
                </th>
            </tr>
        </thead>
        <tbody>
            <tr data-collapsed="false">
                <td style="width:25%;">提交ID<span class="supplementary">（多个请用空格分隔）</span></td>
                <td><input name="sids" type="text" class="textbox-tiny" value="@ViewBag.SolutionIDs" /></td>
            </tr>
            <tr class="collapsed" data-collapsed="true">
                <td>竞赛ID<span class="supplementary">（0为非竞赛）</span></td>
                <td><input name="cid" type="text" class="textbox-tiny" value="@ViewBag.ContestID" /></td>
            </tr>
            <tr class="collapsed" data-collapsed="true">
                <td>题目ID<span class="supplementary">（题库题目ID）</span></td>
                <td><input name="pid" type="text" class="textbox-tiny" value="@ViewBag.ProblemID" /></td>
            </tr>
            <tr class="collapsed" data-collapsed="true">
                <td>用户名</td>
                <td><input name="username" type="text" class="textbox-tiny" value="@ViewBag.UserName" /></td>
            </tr>
            <tr class="collapsed" data-collapsed="true">
                <td>提交语言</td>
                <td>
                    <select name="lang" class="selectbox">
                        <option value="">All</option>
                        @foreach (var Item in ViewBag.Languages)
                        {
                            <option value="@Item.Value"@(String.Equals(ViewBag.Language, Item.Value.ToString()) ? " selected=\"selected\"" : "")>@Item.Key</option>
                        }
                    </select>
                </td>
            </tr>
            <tr class="collapsed" data-collapsed="true">
                <td>评测结果</td>
                <td>
                    <select name="type" class="selectbox">
                        <option value="">All</option>
                        <option value="0"@(String.Equals(ViewBag.Type, "0") ? " selected=\"selected\"" : "")>Pending</option>
                        <option value="1"@(String.Equals(ViewBag.Type, "1") ? " selected=\"selected\"" : "")>Rejudge Pending</option>
                        <option value="2"@(String.Equals(ViewBag.Type, "2") ? " selected=\"selected\"" : "")>Judging</option>
                        <option value="3"@(String.Equals(ViewBag.Type, "3") ? " selected=\"selected\"" : "")>Compile Error</option>
                        <option value="4"@(String.Equals(ViewBag.Type, "4") ? " selected=\"selected\"" : "")>Runtime Error</option>
                        <option value="5"@(String.Equals(ViewBag.Type, "5") ? " selected=\"selected\"" : "")>Time Limit Exceeded</option>
                        <option value="6"@(String.Equals(ViewBag.Type, "6") ? " selected=\"selected\"" : "")>Memory Limit Exceeded</option>
                        <option value="7"@(String.Equals(ViewBag.Type, "7") ? " selected=\"selected\"" : "")>Output Limit Exceeded</option>
                        <option value="8"@(String.Equals(ViewBag.Type, "8") ? " selected=\"selected\"" : "")>Wrong Answer</option>
                        <option value="9"@(String.Equals(ViewBag.Type, "9") ? " selected=\"selected\"" : "")>Presentation Error</option>
                        <option value="10"@(String.Equals(ViewBag.Type, "10") ? " selected=\"selected\"" : "")>Accepted</option>
                        <option value="255"@(String.Equals(ViewBag.Type, "255") ? " selected=\"selected\"" : "")>Judge Failed</option>
                    </select>
                </td>
            </tr>
            <tr class="collapsed" data-collapsed="true">
                <td>开始时间</td>
                <td>
                    <input name="startdate" type="text" class="datetimepicker" readonly="readonly" value="@ViewBag.StartDate" />
                    <select name="starthour" class="selectbox" data-value-from="00" data-value-to="23" data-value="@ViewBag.StartHour"></select>：
                    <select name="startminute" class="selectbox" data-value-from="00" data-value-to="59" data-value="@ViewBag.StartMinute"></select>：
                    <select name="startsecond" class="selectbox" data-value-from="00" data-value-to="59" data-value="@ViewBag.StartSecond"></select>
                </td>
            </tr>
            <tr class="collapsed" data-collapsed="true">
                <td>结束时间</td>
                <td>
                    <input name="enddate" type="text" class="datetimepicker" readonly="readonly" value="@ViewBag.EndDate" />
                    <select name="endhour" class="selectbox" data-value-from="00" data-value-to="23" data-value="@ViewBag.EndHour"></select>：
                    <select name="endminute" class="selectbox" data-value-from="00" data-value-to="59" data-value="@ViewBag.EndMinute"></select>：
                    <select name="endsecond" class="selectbox" data-value-from="00" data-value-to="59" data-value="@ViewBag.EndSecond"></select>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="text-center" colspan="2">
                    <input name="order" type="hidden" value="@ViewBag.Order" />
                    <button type="submit">搜索</button>&nbsp;
                    <span class="supplementary">不填任何查询条件即列出所有记录</span>
                </td>
            </tr>
        </tfoot>
    </table>
    <br />
    <table class="table-main table-striped table-hover">
        <thead>
            <tr>
                <th colspan="12">
                    提交评测管理 |
                    <a href="@(Url.Action("Rejudge", "Solution") + Request.Url.Query)">按当前条件重测</a> |
                    @Html.ActionLink("重测选中提交", "Rejudge", "Solution", new { sids = "__id__" }, new { @data_advancelink = "true", @data_confirm = "false" })
                </th>
            </tr>
            <tr>
                <td style="width:20px;"><input type="checkbox" data-selectall-name="id" /></td>
                <td class="text-center" style="width:50px;"><a data-switch-name="order" data-switch-value="">提交ID</a></td>
                <td><a data-switch-name="order" data-switch-value="0">用户名</a></td>
                <td class="text-center" style="width:40px;"><a data-switch-name="order" data-switch-value="1">竞赛ID</a></td>
                <td class="text-center" style="width:40px;"><a data-switch-name="order" data-switch-value="2">题目ID</a></td>
                <td class="text-center" style="width:140px;"><a data-switch-name="order" data-switch-value="3">提交结果</a></td>
                <td class="text-center" style="width:50px;"><a data-switch-name="order" data-switch-value="4">用时</a></td>
                <td class="text-center" style="width:50px;"><a data-switch-name="order" data-switch-value="5">内存</a></td>
                <td class="text-center" style="width:50px;"><a data-switch-name="order" data-switch-value="6">长度</a></td>
                <td class="text-center" style="width:50px;"><a data-switch-name="order" data-switch-value="7">语言</a></td>
                <td class="text-center" style="width:130px;">提交时间</td>
                <td class="text-center" style="width:40px;">重测</td>
            </tr>
        </thead>
        <tbody>
        @foreach (var Item in Model)
        {
            <tr>
                <td><input name="id" type="checkbox" value="@Item.SolutionID" /></td>
                <td class="text-center">@Item.SolutionID</td>
                <td>@Html.ActionLink(Item.UserName, "Info", "User", new { area = "", id = Item.UserName }, new { @target = "_blank" })</td>
                <td class="text-center">@(Item.ContestID > 0 ? Html.ActionLink(Item.ContestID.ToString(), "Index", "Home", new { area = "Contest", cid = Item.ContestID }, new { @target = "_blank" }) : Html.Raw("-"))</td>
                <td class="text-center">@Html.ActionLink(Item.ProblemID.ToString(), "Show", "Problem", new { area = "", id = Item.ProblemID }, new { @target = "_blank" })</td>
                <td class="text-center"><span class="label status_@Item.Result">@((Item.Result == SDNUOJ.Entity.ResultType.CompileError || Item.Result == SDNUOJ.Entity.ResultType.RuntimeError) ? Html.ActionLink(Item.ResultString, "Info", "Solution", new { area = "", id = Item.SolutionID }, new { @target = "_blank" }) : Html.Raw(Item.ResultString))</span></td>
                <td class="text-center">@(Item.TimeCost)MS</td>
                <td class="text-center">@(Item.MemoryCost)KB</td>
                <td class="text-center">@(Item.CodeLength)B</td>
                <td class="text-center">@Html.ActionLink(Item.LanguageType.ToString(), "View", "Solution", new { area = "", id = Item.SolutionID }, new { @target = "_blank" })</td>
                <td class="text-center">@Item.SubmitTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td class="text-center">@Html.ActionLink("重测", "QuickRejudge", "Solution", new { id = Item.SolutionID }, new { @data_advancelink = "true", @data_confirm = "true", @data_async = "true" })</td>
            </tr>
        }
        @if (Model.Count == 0)
        {
            <tr>
                <td class="text-center" colspan="12">没有指定提交</td>
            </tr>
        }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="12">
                    @RenderPage("~/Areas/Admin/Views/Shared/_Pager.cshtml")
                </td>
            </tr>
        </tfoot>
    </table>
}